{% extends "media/base.html" %}
{% block content %}
    <h1>'Авто.ру помогает купить или продать машину.'
                                                        'Это не просто сайт, где каждый может найти'
                                                        ' или разместить объявление (хотя, конечно, каждый может),'
                                                        ' задача Авто.ру — оградить человека от неприятностей,'
                                                        ' связанных с куплей-продажей автомобиля.'</h1>
{% endblock content %}